@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
img {
    width: 100%;
    display: block;
}
:root {
    --main-color: #1abc9c;
}
#main
/* Header */
#header {
    background-color: rgb(44, 62, 80);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
#header #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12px;
    padding: 30px 12px;
}
#nav .nav-logo {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
#nav #nav-list {
    display: inline-block;
}
#nav-list li {
    display: inline-block;
    margin-right: 2rem;
}
#nav-list li a {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.25s linear;
}
#nav-list li a:hover {
    color: var(--main-color);
}
/* Header */

/* Slider */
#slider {
    margin-top: 10rem;
    background-color: var(--main-color);
    height: 100rem;
}
/* Slider */